{% extends "main_page.html" %}

    {% block title %}manage staff{% endblock title %} 
   
    {% block body_content %}
    <!--====== SLIDER PART START ======-->
    {% load static %}
  
     <section id="contact" class="contact-area pt-115 mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="contact-title">
                        <h2 class="title">Manage Staff</h2>
                       <table class="table table-striped table-hover mx-auto px-auto">
                                <thead bgcolor="#969cad">
                                    <th>STAFF ID</th><th>PICTURE</th><th>USERNAME</th><th>FIRST NAME</th><th>LASTNAME</th>
                                    <th>POSITION</th>
                                    <th>PROFILE</th>
                                </thead>
                                {% if staff_details %}
                                    {% for staff in staff_details %}
                                    <tr>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{staff.profile_id}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                            {% if staff.profile_passport %}
                                                <img src="{{staff.profile_passport.url}}" alt="img" width="80px" height="100px" />
                                            {% else %}
                                            <i class="fas fa-user fa-lag fa-fw text-dark me-2"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{staff.user.username}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{staff.user.first_name}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{staff.user.last_name}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{staff.position}}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="{% url 'user_profile' staff.user_id %}">
                                                <span style="color: #0e399c;" class="font-weight-bold">
                                                    Profile
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                        </table>
                    </div> 
                </div>
            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>
    
    <!--====== CONTACT PART ENDS ======-->

{% endblock body_content %}