{% extends "main_page.html" %}

    {% block title %}Profile{% endblock title %} 
   
    {% block body_content %}
    <!--====== SLIDER PART START ======-->
    {% load static %}
  
     <section id="contact" class="contact-area pt-115 mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="contact-title">
                        <p><span class="date text-pink text-size-30px">
                            {% if messages %}
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                            {% endif %}</span>
                        </p>
                        {% if userDetails %}
                        {% for user in userDetails %}
                         <h2 class="title">{{user.user.username}}</h2>
                        {% if request.user.is_staff %}
                            <h4 class="title">Staff Id: UNV-{{ user.user.id }}</h4>
                        {% endif %}
                        <h4 class="title"> {% if user.profile_passport %}
                            <img height='100px' width='100px' src="{{user.profile_passport.url}}" alt=" Card image cap" id="product-detail">
                            {% else %}
                                <i class="fas fa-user fa-lg fa-fw text-dark me-2"></i>
                            {% endif %}</h4>

                        <h6 class="title">Full name: {{ user.user.first_name}} {{ user.user.last_name}}</h6>
                        <h6 class="title">Email: {{ user.user.email }}</h6>
                        <h6 class="title">Gender: {{ user.gender }}</h6>
                        <h6 class="title">Phone: {{ user.phone }}</h6>
                        <h6 class="title">Address: {{ user.address }}</h6>
                        <h6 class="title">Nationality:{{ user.nationality }}</h6>
                        <h6 class="title">State: {{ user.state }}</h4>
                        <h6 class="title">Marital Status: {{ user.marital_status }}</h6>
                        {% if request.user.is_staff %}
                            <h6 class="title">Position: {{ user.position }}</h6>
                            <h6 class="title">Particulars: 
                                {% if user.particulars %}
                                    <img src="{{user.particulars.url}}" class="card-img img-fluid" alt=" Card image cap" id="product-detail">
                                {% endif %}
                            </h6>
                        {% endif %}

                        {% if not request.user.is_staff or request.user.is_superuser %}
                            <div class="row pb-3">
                                <div class="col">
                                    <a href="{% url 'edit_profile' %}">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Edit Profile</button>
                                    </a>
                                    <a href="{% url 'deactivate' user.user_id %}">
                                        <button type="submit" class="btn btn-danger btn-lg" name="submit" value="">
                                            {% if user.user.is_active == 1 %}
                                            Deactivate
                                            {% else %}
                                            Activate
                                            {% endif %}
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        
                    </div> 
                </div>
            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>
    
    <!--====== CONTACT PART ENDS ======-->

{% endblock body_content %}