{% extends "main_page.html" %}

    {% block title %}My cart{% endblock title %} 
   
    {% block body_content %}
    <!--====== SLIDER PART START ======-->
    {% load static %}
  
     <section id="contact" class="contact-area pt-115 mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="contact-title">
                        <h2 class="title">Ordered Products</h2>
                        <p><span class="date color-pink text-size-30px">
                            {% if messages %}
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                            {% endif %}</span>
                        </p>
                       <table class="table table-striped table-hover mx-auto px-auto">
                                <thead bgcolor="#969cad">
                                    <th>ORDERED DATE</th><th>TOTAL PRICE</th><th>INVOICE</th><th>DELIVERED</th>
                                </thead>
                                {% if product_invoice %}
                                    {% for product in product_invoice %}
                                    <tr>
                        
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{product.date_cashout}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{product.total_price}}
                                            </span>
                                        </td>
                                        
                                        <td>
                                            <a href="{% url 'product_invoice' product.invoice_id %}">
                                                <span style="color: #0e399c;" class="font-weight-bold">
                                                    {{product.invoice_id}}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'deliver_product' product.invoice_id %}">
                                                <span style="color: #0e399c;" class="font-weight-bold">
                                                   Delivered
                                                </span>
                                            </a>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                {% endif %}
                        </table>
                    </div> 
                </div>

            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>

    <!--====== CONTACT PART ENDS ======-->

{% endblock body_content %}