{% extends "main_page.html" %}

    {% block title %}My cart{% endblock title %} 
   
    {% block body_content %}

    <script src="https://js.paystack.co/v1/inline.js"></script> 
    <script type="text/javascript">
        function payWithPaystack() {
            let amount =document.getElementById("amount").innerHTML;
            let email =document.getElementById("email").innerHTML;
            let success_url =document.getElementById("success_url").innerHTML.trim();
            let fails_url =document.getElementById("fails_url").innerHTML.trim();

          let handler = PaystackPop.setup({
            key: 'pk_test_7e855807342d389da973bc93484c44c62b0a3541', // Replace with your public key
            email: email.trim(),
            amount: amount.trim() * 100,
            currency: "NGN",
            ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            // label: "Optional string that replaces customer email"
            onClose: function(){
              window.location = fails_url;
            },
            callback: function(response){

                window.location = success_url
              // let message = 'Payment complete! Reference: ' + response.reference;

            }
          });

          handler.openIframe();
        }

    </script>

    <!--====== SLIDER PART START ======-->
    {% load static %}
  
     <section id="contact" class="contact-area pt-115 mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="contact-title">
                        <h2 class="title">My Receipt</h2>
                        <p><span class="date text-pink text-size-30px">
                            {% if messages %}
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                            {% endif %}</span>
                        </p>
                       <table class="table table-striped table-hover mx-auto px-auto">
                                <thead bgcolor="#969cad">
                                    <th>PICTURE</th><th>PRODUCT NAME</th><th>QUANTITY</th><th>PRICE</th>
                                    <th>ORDERED DATE</th>
                                </thead>
                                {% if product_invoice %}
                                    {% for product in product_invoice %}
                                    <tr>
                                        <td>
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                            {% if product.product.product_picture %}
                                                <img src="{{product.product.product_picture.url}}" alt="img" width="80px" height="100px" />
                                            {% else %}
                                            <i class="fas fa-user fa-lag fa-fw text-dark me-2"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{product.product.product_name}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{product.quantity}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{product.price}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                {{product.date_ordered}}
                                            </span>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    <tr>
                                        <td colspan="5">
                                            <span style="color: #969cad;" class="font-weight-bold">
                                                Net. Total: {{total_price}}
                                            </span>
                                        </td>
                                    </tr>
                                {% endif %}
                        </table>
                    </div> 
                </div>

            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>
    <div class="d-flex justify-content-center">
        <div class="form-submit" id="email" style="display: none;">
            {{email}}
        </div>
        <div class="form-submit" id="amount" style="display: none;">
            {{total_price}}
        </div>
        <div class="form-submit" id="success_url" style="display: none;">
            {% url 'payment_success' invoice_id %}
        </div>
        <div class="form-submit" id="fails_url" style="display: none;">
            {% url 'payment_fails' invoice_id %}
        </div>
        <div class="form-submit">
            <button type="submit" onclick="payWithPaystack()"> make Payment </button>
      </div>
    </div>
<form >

    <!--====== CONTACT PART ENDS ======-->

{% endblock body_content %}